.logo{
	width: 6.5%;
	height: 6.5%;
	margin-top: 2%;
	margin-right: 2%;
	float:right; 
	cursor: pointer;
	
} 
#bottom{
	font-size: x-large;
	float: right;
	 margin-top: 2.0%;
	  margin-right: 2%;
	  cursor: pointer;
} 
.search{
	width: 30%;
	height: 100%;
	float: right;
	margin-right:20%;
	margin-top: 2%;
}
#searchtool{
	float: right;
	margin-top: 2%;
	border: 1px;
	margin-right: 0.3%;
	padding-left: 2%;
	padding-right:2%;
}
#male{
	width: 2.5%;
	height: 2.5%;
	margin-top: -1%;
	margin-left: 1%;
	cursor: pointer;
}
.notification{
	font-size: x-large;
	margin-top:2%;
	margin-left:3%;
	padding-bottom: 1%;
}
#border{
 	border-bottom: 2px solid #FC6C6C!important;
}
.aside{
	float:right!important;
	width: 15%;
	background-color: #FFFFFF;
	border-left:2px solid #FC6C6C!important;
	position: fixed;
	background:;
	overflow:auto;
	border-left: 1px;
	margin-left: 85%;
	margin-top: 4.5%;
}
.icon{
	font-weight: normal;
	font-size: 150%;
	float: right;
	margin-top: 10%;
	margin-right: 5%;
	cursor: pointer;
}
.notification:hover{
	color: red;
	cursor: pointer;
}
#bottom:hover{
	color: red;
	cursor: pointer;
}
.icon:hover{
	color: red;
	cursor: pointer;
}
.font{
	font-weight: bold;
	font-size: 100%;
}
.marginicon{
	margin-top: 20%;
	margin-left:0%;
}
.main{
	width: 85%;
	float: left;
	margin-top: 5%;
}
iframe{
	margin-top: 1%; 
	margin-left: 45%;
}